/* body */
body {
  margin: 0;

}

/* style for header */
.header {
  background: #ffffff;
  display: flex;
  justify-content: space-around;

/* 2 dp • Dark shadow */
filter: drop-shadow(0px 2px 4px rgba(38, 50, 56, 0.16)) drop-shadow(0px 4px 8px rgba(38, 50, 56, 0.08));
}

/*style for logo*/
.logo{
  display: flex;
  align-items: center;
}

.logo a{
  /* 48 sp • H3 Heading */

  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  /* Black */

  color: #2D3436;
}

/*style for nav*/
.nav{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}

/*style for nav_links*/
.nav_link{
  /* 18 sp • Paragraph Default */

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  padding: 0px 20px 0px 20px;

  /* Purple / Dark */

}

/*style for link's reference*/
.nav_link a{
  text-decoration: none;
  color: #6C5CE7;
}

/*Style for links*/
.nav_link a:hover{
  /* Black */
  color: #2D3436;
}

/*style for head's button*/
.header button{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;


  padding: 0 2vw 0 2vw;

  text-align: center;
  letter-spacing: 0.25px;

  /* White */

  color: #FFFFFF;

  background: #2D3436;
  border-radius: 999px;

  /* 2 dp • Dark shadow */

  text-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16), 0px 4px 8px rgba(38, 50, 56, 0.08);
}

