/* styles for body */
body {
  margin: 0;
}

/* styles for main header */
.blocks7 {
  height: 1286px;
  background-color: #999999;
}

/* styles for header */
.header {
  height: 96px;
  border-bottom: 3px solid #363636;
  background-color: #888888;
}

/* styles fo horizontal 3*/
.horizontal_3 {
  /*position: absolute;
  height: 64px;
  left: 9.38%;
  right: 76.74%;
  top: 16px;
  background-color: #cccccc;*/
 height: 64px;
  width: 200px;
  margin-left: 135px;
  top: 16px;
  background-color: #cccccc;
}

/* styles for icon_layout */
.icon_layout {

  width: 64px;
  height: 64px;
  left: 0px;
  top: 17.6px;
  bottom: 17.6px;
}


/* styles for text "grid" */
.grid {
  height: 64px;
  width: 128px;
  left: 72px;
  top: 0px;
}
